//Variables
$website-width: 1280px;
$main-color: #8EA7E9;
$light-color: #F3F8FF;
$medium-color: #B9CEEB;
$dark-color: #333;
$bg-image: url('../img/showcase1.jpg');

//Set text colour
@function set-text-color($color) {
    @if(lightness($color) > 50) {
        @return #333;
    } @else {
        @return #fff;
    }
}